<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CurrentEnvironment" value="#{CurrenEnvironment}"/>
		<add key="IsLocal" value="true"/>
		<add key="IsHeadless" value="#{false}"/>
		<add key="PreferredDriver" value="#{ChromeDriver}"/>
		<!-- 
		   options:
		       Chrome: ChromeDriver
			   FireFox: FireFoxDriver
		-->
		<add key="WaitSeconds" value="30"/>
		<!--
		dev: https://dev.google.com
		acpt: https://acpt.google.com
		local: http://apps.localhost.com/xyz
		-->
		<!-- Acceptance Env-->
		<add key ="StartPage" value ="https://sso.teachable.com/secure/9521/identity/login"/>



		<add key="TakeScreenShots" value ="true"/>
		<add key ="ScreenshotSavePath" value="Path to save Screenshot"/>
	</appSettings>
	

</configuration>